* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: rgb(26, 26, 26);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.note{
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  gap: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.note button{
  padding: 5px 10px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 5px;
}

.note-create-form{
  padding: 10px 20px;
  display: flex;
  gap: 20px;
}

.note-create-form input{
  border-radius: 5px;
}
.note-create-form button{
  padding: 5px 10px;
  background-color: rgb(83, 77, 83);
  border-radius: 10px;
  border: none;
  color: white;
}